* {box-sizing: border-box;}

html,body {
    background-color: black; 
    color: white;
}

a:any-link {color:blanchedalmond;text-decoration:none;}
ul {list-style:none;padding:0;}
h1,h2,h3,h4,h5,h6,p {margin-top:0;}